section.portfolio
{
    position: relative;
    background-color: black;
    width: 100vw;
    height: 900px;
    overflow: hidden;
    z-index: 9990;
    color: #F8EFBA;

    h1
    {
        text-align: center;
        font-family: 'Oxygen Bold', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px 2px #222;
    }

    div.portfolio-title
    {
        position: absolute;
        max-width: 1400px;
        min-height: 100%;
        top: 0px;
        transform: translate(calc((100vw - 300px) / 2));
    }

    article
    {
        position:absolute;
        max-width: 1400px;
        min-height: 0px;
        top: 80px;
        transform: translate(calc((100vw - 1400px) / 2));
        z-index: 9990;
        color: #b5a642;
        font-family: 'Poppins Regular';
        font-size: 14px;
        background: rgba(255,255,255,0.2);
        border-radius: 6;
        padding: 20px;
    }
}
