node_modules/
.cache/
**/.DS_Store
public/*.*
public/404
public/certifications
public/contact
public/diplomas
public/featured
public/page-data
public/portfolio
public/presentation
public/resume
.gitignore
