div.bottom-nav
{
    position:absolute;
    max-width: 1400px;
    min-height: 120px;
    min-width: 150px;
    text-align: center;
    top: 730px;
    transform: translate(calc((100vw - 240px) / 2));
    color: #b5a642;
    font-family: 'Poppins Regular';
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    border-radius: 6;
    padding: 45px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 2px #000;
    z-index: 9990;
    cursor: grab;
}


figure
{
    position:absolute;
    z-index: 9990;
    top: 0px;
    padding: 0px;
    margin: 0px;
    max-width: 1400px;
    min-height: 150px;
    min-width: 280px;
    color: #b5a642;
    font-family: 'Poppins Regular';
    font-size: 14px;
    border-radius: 6;
    transform: translate(calc(100vw - 285px));
    text-shadow: 2px 2px 2px #000;
    background: rgba(0, 0, 0, 0.7);

    div.debug-container
    {
        position: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-end;
        min-height: 150px !important;
        max-height: 150px !important;

        .debug
        {
            position: absolute;
            bottom: 0;
            left: 0;
            flex: 1;
            padding-bottom: 12px;
            text-align: center;
            min-width: 100%;
        }
    }
}
