/* Import Fonts */
@font-face {
    font-family: 'Oxygen Regular';
    src: local('Oxygen'), url('/fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen Light';
    src: local('Oxygen'), url('/fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen Bold';
    src: local('Oxygen'), url('/fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Extra Bold';
    src: local('Poppins'), url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src: local('Poppins'), url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins Regular';
    src: local('Poppins'), url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: local('Roboto'), url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

/* Website Content */
html, body
{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
}

body
{
    overflow-x: hidden;
    overflow-y: hidden;
}


canvas, img
{
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#app::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#app::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

#app::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 0px solid #555555;
}

.scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #1a1a1a;
}

.scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #222 !important;
}

.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
