@import '../../styles/site.scss';

section.featured
{
    background-color: black;
    font-family: 'Poppins Regular';
    color: #F8EFBA;
    width: 100vw;
    height: calc(100vh - 100px);
    overflow: hidden;
    z-index: 9999;

    div.featured-container
    {
        position: absolute;
        top: 50px;
        height: calc(100vh - 200px);
        background-color: rgba(22, 22, 22, 0.98);
        margin: 0 auto;
        overflow-y: auto !important;
        padding: 50px;
        min-width: 70%;
        width: 70%;
        max-width: 70%;
        left: calc(50% + 100px);
        transform: translate(calc(-50% - 100px));

        @include xl-screen{
            left: 0px;
            transform: translate(0px);
            min-width: 150px;
            width: 30%;
            max-width: 600px;
        }

        @include md-screen{
            min-width: 100%;
            width: 100%;
            max-width: 100%;
        }
    }
}
