.form-container
{

    .prospect-name
    {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        .first-name
        {
            flex: 1 0 50%;
        }
        .last-name
        {
            flex: 1 1 50%;
        }
    }

    .email
    {
        width: 435px;
        min-width: 435px;
        max-width: 435px;
    }

    .phone
    {
        width: 435px;
        min-width: 435px;
        max-width: 435px;
    }

    .message
    {
        width: 435px;
        min-width: 435px;
        max-width: 435px;
    }

    .submit
    {
        margin-left: 7px;
        margin-top: 15px;
    }

    .linkedin
    {
        margin-left: 7px;
        margin-top: -10px;
    }
}

input.MuiInputBase-input.MuiFilledInput-input
{
    background-color: transparent !important;
}

input:-webkit-autofill {
    background-color: black !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,0) inset;
    box-shadow: 0 0 0px 1000px rgba(255,255,255,0) inset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #222 !important;
}

