section.diplomas
{
    position: relative;
    background-color: black;
    width: 100vw;
    height: 900px;
    overflow: hidden;
    z-index: 9990;
    color: #F8EFBA;
    cursor: pointer;

    h1
    {
        text-align: center;
        font-family: 'Oxygen Bold', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px 2px #222;
        z-index: 9990;
    }

    div.diplomas-title
    {
        position: absolute;
        max-width: 1400px;
        min-height: 100%;
        top: 0px;
        transform: translate(calc((100vw - 300px) / 2));
    }

}
