footer
{
    display: flex;
    flex-direction: row;
    align-content: center;
    max-height: 50px;
    font-family: 'Poppins Regular';
    overflow: hidden;
    background-color: #85754e;
    max-width: 100%;
    padding: 10px;
    padding-left: 0px;
    text-align: center;
    color: #4b3621;

    div.contact-email
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 20%;
        line-height: 1.2em;
        flex: 0 5 20%;
    }

    div.contact-linkedin
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 20%;
        line-height: 1.2em;
        flex: 1 5 20%;
    }

    div.contact-phone
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 20%;
        line-height: 1.2em;
        flex: 2 5 20%;
    }

    div.contact-skype
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 20%;
        line-height: 1.2em;
        flex: 3 5 20%;
    }

    div.last-published
    {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
        min-width: 20%;
        line-height: 1.2em;
        padding-right: 20px;
        flex: 4 5 20%;
    }


    a
    {
        display: flex;
        vertical-align: middle !important;
        padding: 0px !important;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .image-link
    {
        padding: 0px !important;
        margin-top: 3px;
        vertical-align: middle;
    }

    .text-link
    {
        display: block;


    }

}
