footer
{
    max-height: 50px;
    font-family: 'Poppins Regular';
    overflow: hidden;
    background-color: #85754e;
    width: 100%;
    padding: 12px;
    text-align: center;
    color: #4b3621;
}
