section.certifications
{
    position: relative;
    background-color: black;

    background-repeat: repeat;
    background-size: 25%;
    background-position: 0px -300px;
    width: 100vw;
    min-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow: hidden;
    z-index: 9990;
    color: #F8EFBA;
    font-size: 72px;

    h1
    {
        text-align: center;
        font-family: 'Oxygen Bold', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 2px 2px 2px #222;
    }

    div.certifications-title
    {
        position: absolute;
        max-width: 1400px;
        min-height: 100%;
        top: 0px;
        transform: translate(calc((100vw - 300px) / 2));
        z-index: 9990;
    }

    article
    {
        position:absolute;
        max-width: 1400px;
        min-height: 0px;
        top: 80px;
        transform: translate(calc((100vw - 1400px) / 2));
        z-index: 9990;
        color: #b5a642;
        font-family: 'Poppins Regular';
        font-size: 14px;
        background: rgba(0, 0, 0, 0.301);
        border-radius: 6;
        padding: 20px;
        text-shadow: 2px 2px 2px #000;
    }

    div.certificates-container
    {
        display: flex;
        z-index: 0;
        flex-direction: column;
        justify-content: center;

        width: calc(100vw - 200px);
        height: calc(100vh - 200px);
        background-color: rgba(255,255,255,0.30);
        border-radius: 6px;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.73);
        text-align: center;
    }
}
